* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #d3d3d3;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.color-b {
    color: #272a31;
}

.color-o {
    color: #ec5242;
}

.color-g {
    color: #d3d3d3;
}

.hide {
    display: none;
}

.container {
    width: 90vw;
    margin: auto;
}

.hamburger {
    padding-top: 16px;
    padding-bottom: 40px;
}

header {
    background-image: url(../images/third-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(242, 242, 241, 0.8);
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.greeting h3 {
    font-weight: 400;
    padding: 3px 0px;
}

.theme {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 25px;
}

.description {
    border: 2px solid #fff;
    padding: 8px;
    margin: 20px auto;
    text-align: justify;
    font-weight: 300;
}

.date {
    font-size: 30px;
    font-weight: 800;
    padding: 4px 0px;
}

.location {
    padding-top: 4px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.main {
    background-image: url(../images/bg-dark.jpg);
    background-color: #272a31;
    padding: 10px 4px;
    display: flex;
    flex-direction: column;
}

.main-head {
    text-align: center;
    margin: auto;
    padding: 25px 0px;
}

.main-content {
    margin: 8px 4px;
    display: flex;
    flex-direction: column;
}

.main-content .main-items {
    gap: 3px;
}

.main-content .main-items ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #4646489e;
    padding: 4px 8px;
    margin: 4px 0px;
}

.main-contents li {
    min-width: 20%;
    margin: 4px;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
}

.main-contents li:third-child{
    flex-grow: 1;
}

.item-li {
    font-weight: 600;
}

.main-join {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.main-join .join {
    background-color: #ec5242;
    height: 70px;
    min-width: 70%;
    color: #fff;
    padding: 8px 15px;
    font-size: 18px;
    border: 0px solid #ec5242;
    margin: 20px 0px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature .heading {
    text-align: center;
    margin: 30px 0px;
}

.feature .speakers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    margin: 15px 0px;
}

.speakers .pic-speakers img{
    min-width: 25%;
}

.speakers .speakers-text {
    width: 73%;
}

.speakers-text .ul-speaker {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    align-content: space-between;

}

.more{
    width: 90%;
}

.more .btn-more {
    width: 100%;
    margin: 30px 0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
}

.btn-more img{
    color: #ec5242;
}